
@{
    ViewBag.Title = "Admin";
}
c
<div style="padding-top:23px;">
    @Html.Partial("_AdminPartial")
</div>

<div style="padding:80px;font-size:x-large;">
    <table class="table" id="questionTable">
        <thead>
            <tr>
                <th>
                    Usage Analysis
                </th>
                <th>
                    #
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Number of Sessions
                </td>
                <td>
                    35
                </td>
            </tr>
            <tr>
                <td>
                    Number of Sessions
                </td>
                <td>
                    35
                </td>
            </tr>
            <tr>
                <td>
                    Number of Sessions
                </td>
                <td>
                    35
                </td>
            </tr>
        </tbody>
    </table>

</div>