@model IEnumerable<ChaT.db.ChatIntent>

@{
    ViewBag.Title = "Home";
}

<style>

    .panel-body {
        height: 600px;
        overflow-y: auto;
    }

    .panel-footer {
        background-color: white;
        border: none;
    }

    #chat-history {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .userDiv {
        padding: 5px;
        max-width: 600px;
    }

    .userChat {
        padding: 5px;
        min-width: 300px;
        max-width: 500px;
        display: block;
        box-shadow: 0 2px 3px -2px gray;
        border-radius: 15px;
        padding-left: 10px;
        background-color: whitesmoke;
    }

    .botDiv {
        padding: 5px;
        padding-left: 80px;
        max-width: 600px;
    }

    .botChat {
        padding: 5px;
        padding-left: 23px;
        min-width: 300px;
        max-width: 500px;
        display: block;
        box-shadow: 0 2px 3px -2px gray;
        border-radius: 15px;
        background-color: beige;
    }

    #message {
        font-size: x-large;
    }

    .glyphicon-user {
        padding-right: 10px;
        margin-right: 10px;
    }

    .glyphicon-bullhorn {
        padding-right: 10px;
        margin-right: 10px;
    }

    .tags {
        text-align: left;
        color: crimson;
        border-radius: 10px;
        font-size: large;
    }

    .tag-header {
        font-size: x-large;
        color: crimson;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .tag-body {
        margin: 5px;
        padding: 5px;
        margin-bottom: 10px;
        padding-left: 10px;
        background-color: whitesmoke;
        border-radius: 10px;
        box-shadow: 2px 3px whitesmoke;
    }
</style>

<div style="padding:10px;">
    <div class="row">
        <div class="col-sm-8" style="border:1px solid whitesmoke">
            <div class="panel-body" style="min-height:500px;padding-bottom:150px;">
                <div id="chat-history"> </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-7">
                        <input id="message" class="form-control" type="text" style="min-width:300px;max-width:600px;height:80px;" />
                        <input id="node-level" type="hidden" value="@ViewBag.nodeLevel" />
                        <input id="welcome-message" type="hidden" value="@ViewBag.Welcome" />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger" type="submit" id="saimaa" style="height:80px;width:80px;">
                            <span class="glyphicon glyphicon-send" style="font-size:x-large"></span>
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <div id="controls">
                            <img id="record" src="~/Content/img/mic128.png" onclick="toggleRecording(this);">
                            <img id="loader" src="~/Content/img/loader.gif" />
                            <span id="isaudio" style="display:none"></span>
                            <a id="save" href="#" style="display:none">save</a>
                        </div>
                        <div id="viz" style="display:none">
                            <canvas id="analyser" width="1024" height="500"></canvas>
                            <canvas id="wavedisplay" width="1024" height="500"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="padding:23px;">
                <div class="tag-header">Suggestions:</div>
                <div id="suggest-list">
                    @foreach (var item in Model)
                    {
                        <div class="tag-body"><div class="tags" data-message="@item.IntentDescription">@item.IntentDescription</div></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {

        var launchMessage = $("#welcome-message").val();
        var resposeMessage = launchMessage.replace(/<br>/g, "");
        responsiveVoice.speak(resposeMessage);
        var launchHtml = '<div style="font-size:larger;font-weight:bold;"><span>' + launchMessage + '</span></div>';
        launchHtml = '<div class="botDiv" ><span class="botChat"><span class="glyphicon glyphicon-bullhorn"> </span>&nbsp<span>' + launchMessage + '</span></span></div>';
        $("#chat-history").html(launchHtml);

        $("#message").on("change keyup blur", function () {
            if ($("#message").val().length > 0) {
                $("#saimaa").attr("disabled", false);
            }
            else {
                $("#saimaa").attr("disabled", true);
            }
        });


        $("#saimaa").click(function () {
            var message = "  " + $("#message").val();
            var chathtml = $("#chat-history").html();
            var node = $("#node-level").val();
            chathtml = chathtml + '<div class="userDiv"><span class="userChat"><span class="glyphicon glyphicon-user"> </span>&nbsp<span>' + message + '</span></span></div>';
            var data1 = { sender: "default", message: message, node: node };
            getChatResponse(data1, chathtml);
        });

        $(document).on("click", ".tags", function () {
            var message = $(this).data("message");
            var chathtml = $("#chat-history").html();
            var node = $("#node-level").val();
            chathtml = chathtml + '<div class="userDiv"><span class="userChat"><span class="glyphicon glyphicon-user"> </span>&nbsp<span>' + message + '</span></span></div>';
            var data1 = { sender: "default", message: message, node: node };
            getChatResponse(data1, chathtml);
        });

        $(".tags").click(function () {

        });


        // Get the input field
        var input = document.getElementById("message");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function (event) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Trigger the button element with a click
                document.getElementById("saimaa").click();
            }
        });

        $("#loader").hide();
        $("#record").click(function () {
            if ($("#isaudio").text() == "recording") {
                $("#isaudio").text("");
                $("#loader").hide();
            }
            else {
                $('#isaudio').text("recording");
                $("#loader").show();
            }
        })

    });


    function getChatResponse(data1, chathtml) {
        $.ajax({
            url: "/Home/Chat",
            type: "POST",
            data: JSON.stringify(data1),
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                //var arr = $.parseJSON(data);
                var chatResposeMessage = data.response.replace(/<br>/g, "");
                var splitResponseMessage = data.response.split("<br>");
                splitResponseMessage.forEach(function (splitMessage) {
                    chathtml = chathtml + '<div class="botDiv" ><span class="botChat"><span class="glyphicon glyphicon-bullhorn"> </span>&nbsp<span>' + splitMessage + '</span></span></div>';
                });
                responsiveVoice.speak(chatResposeMessage);
                //chathtml = chathtml + '<div class="botDiv" ><span class="botChat"><span class="glyphicon glyphicon-bullhorn"> </span>&nbsp<span>' + data.response + '</span></span></div>';
                //chathtml = chathtml + '<p style="float:right"><div >Bot says:</div><div>' + data + '</div></p>';
                $("#chat-history").html(chathtml);
                $("#node-level").val(data.node);
                $("#message").val("");
                var suggestions = data.suggest;
                var suggestHtml = "";
                suggestions.forEach(function (element) {
                    suggestHtml = suggestHtml + '<div class="tag-body" style="padding-top: 10px;"><div class="tags" data-message="' + element + '">' + element + '</div></div>';
                });
                $("#suggest-list").html('<div style="padding-left:23px;"><img src="../Content/img/loader.gif" /><div>');
                setTimeout(function () {
                    $("#suggest-list").html(suggestHtml);
                    $("#suggest-list").show('fadeIn', {}, 500)
                }, 500);

                var objDiv = document.getElementById("chat-history");
                //
                $(".panel-body").animate({
                    scrollTop: $('.panel-body')[0].scrollHeight - $('.panel-body').height()
                }, objDiv.scrollHeight);
                objDiv.scrollTop = objDiv.scrollHeight;
            },
            error: function (xhr, textStatus, error) {

                console.log("Response " + error);
            }
        });
    }

</script>
<script src="~/Scripts/audio-display.js"></script>
<script src="~/Scripts/audio-recorder.js"></script>
<script src="~/Scripts/audio-recordworker.js"></script>
<script src="~/Scripts/audio-main.js"></script>