
@{
    ViewBag.Title = "Unauthorized";
}


<div class="jumbotron fontset" style="margin-top:20px;">
    <h4> UnAuthorized Access, Please contact Admin</h4>
    <a class="btn btn-success" href="~/Home/login" style="font-size:x-large"> Login</a>
</div>

